body{
background-color:rgb(90, 90, 90);
font:'open Sans';
}
.nav>li>a{
color:black;
font-weight: bolder;
}
#logo {
  margin-left: -35px;
}
.img-responsive{
display:-webkit-inline-box !important;
}
@media(max-width:768px){	
	.content>a{
		float:right;
	}
	.social{
width:30px;
height:30px;
margin-top: -30px !important;
}
	.image>img{
	padding: 14px 20px !important;
}

}
@media(min-width:768px){
	.col-sm-3, .col-md-3, .col-lg-3 {
  width: 31% !important;
}
.social{
width:40px;
height:40px;
}
#Frise{
width:320px;
height:250px;
}
#welcome>p{
	font-weight:bold;
	padding-left: 74px;
}
.image>img{
	padding: 14px 10px !important;
}
}
.col-sm-8>p {
float:right;
margin:34px -30px;
}
.navbar-inverse{
	background:transparent;
}
.navbar-nav>li>a:hover{
	color:#000!important;
}
.navbar-toggle{
	background:black;
}
input[type="text"] {
border-radius: 9px;
padding-right:19px;
overflow:hidden;
}
p>span {
font-weight: bolder;
margin-right: 7px;
font-size: 17px;
}
p>span>a>img{
margin: -4px -23px;
}
#main{
background-color:#FFFFFF;
border-radius:15px;
padding:0px;
}
.navbar-nav>li{
	border-right:1px solid #DFDDDD;
}
.navbar-nav>li>a{
	padding: 11px 29px;
}
#menu{
border-radius:15px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%, #ededed 100%, #ffffff 100%, #ededed 100%, #f3f3f3 102%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3), color-stop(100%,#ededed), color-stop(100%,#ffffff), color-stop(100%,#ededed), color-stop(102%,#f3f3f3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%,#ededed 100%,#ffffff 100%,#ededed 100%,#f3f3f3 102%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%,#ededed 100%,#ffffff 100%,#ededed 100%,#f3f3f3 102%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 100%,#ededed 100%,#ffffff 100%,#ededed 100%,#f3f3f3 102%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%,#ededed 100%,#ffffff 100%,#ededed 100%,#f3f3f3 102%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}
#main-content{
padding:13px 20px 0px 20px;
height:auto;
}
div#address {
font-size: large;
}
div#contact {
font-size: large;
}
div#book_content {
padding: 10px;
}
#content{
background:#f1f1f1;
padding-bottom: 24px;
}
#about_content{
background:#f1f1f1;
padding-bottom: 24px;
}
#welcome>h3{
	font-weight: bold;
	font-size:18px;
}
.content{
background:#EAEAEA;
margin: 5px 7px;
}


.content>h3{
	margin-top: 11px;
margin-bottom: 17px;
font-weight:bold!important;
font-size: 14px  !important;
}
.content>p>a{
	padding: 0px 29px;
}
.gallery{
position: fixed;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
z-index: 9998;
opacity: 0.7;
cursor: pointer;
background-color: rgb(0, 0, 0);
}

.ga a {
margin: 5px;
padding: 2px;
}
.ga a img {
border: 4px solid;
margin-top: 10px;
}
.ga span {
float: right;
margin-top: -41px;
}
#footer a{
color:white;
}
b.services_head {
color: blue;
}
img.offers {
bottom: 0px;
float: right;
position: fixed;
right: 0;
z-index: 9999999;
}

/*contact page*/
iframe, object, embed{max-width: 100%;}
#map{
	height:300px;
	width:500px;
}